# Webverse Nodemailer Credentials
BASE_SYSTEM_NODEMAILER_EMAIL_ADDRESS=your-email@example.com
BASE_SYSTEM_NODEMAILER_EMAIL_PASSWORD=your-password-or-app-key

# SMTP Server Configurations
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

# Notification Routing
NOTIFICATION_RECIPIENT=info@tcongsinfotech.com
PORT=9002
